
.taskItem{
  font-family: Jura;
  font-size: 30px;
  color: black;
  border: 2px solid;
  border-radius: 30px;
  display: inline-flex;
  width: 100%;
}

.deleteButton {
  border-radius: 50%;
  margin-left: 5%;
  margin-right: 5%;
  width: 5%;
}

